#load {  
    display: none;  
    position: absolute;  
    rightright: 10px;  
    top: 10px;  
    background: url(images/ajax-loader.gif);  
    width: 43px;  
    height: 11px;  
    text-indent: -9999em;  
}  

.menuContent{
	background-color:gray;
	display:block;
}
